/*
 * globals
 */
 .section-padding {
  padding: 40px 0;
}

.white-bg {
  background-color: white;
}


/* title */
h1{
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  color: #4A4A4A;
}

/* name */
h2{
  font-size: 32px;
  line-height: 1.1;
  font-weight: 700;
  color: #4A4A4A;
  margin-top: 0;
  margin-bottom: 20px;
}

/* date */
h3{
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: #5E5E5E;
  margin-top: 12px;
  margin-bottom: 46px;
}

h4{
  font-size: 14px;
  color: #A4A4A4;
  font-weight: 400;
  margin-top: 16px;
}

h5{
  font-size: 14px;
  color: #FF7F28;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p{
  font-size: 18px;
  line-height: 1.8;
  color: #5E5E5E;
  font-weight: 400;
  margin-bottom: 38px;
}

.logo-image{
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.logo:hover .logo-text, .logo:hover .logo-image{
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}



/* Post fontface */
.post h1{
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #414141;
  margin-top: 26px;
  margin-bottom: 15px;
}

.post h2{
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #3D3D3D;
  margin-top: 2px;
  margin-bottom: 2px;
}

.post h3{
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  color: #A4A4A4;
  margin-top: 2px;
  margin-bottom: 2px;
}

.post p{
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
}




/*
 * basic layout
 */
html {
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: rgb(245, 245, 245);
  font-family: "Lato", sans-serif;
}

.post{
  background-color: #fff;
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 74px;
}

.profile{
  height: 48px;
  width: 48px;
  border-radius: 16px;
  position: relative;
  margin-right: 14px;
  float: left;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.faceholder{
  height: 48px;
  width: 48px;
  border-radius: 16px;
  position: absolute;
}

.logo-image{
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  height: 34px;
  width: 34px;
}

h4.logo-text{
  float: left;
  margin: 0px;
  padding-top: 17px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 600;
  color: #4A4A4A;
  font-size: 18px;
}



/*
 * Nav
 */
nav{
  right: 15px;
  position: absolute;
}

nav ul{
  margin-bottom: 0px;
  text-align: left;
}

nav ul li{
  list-style: none;
  float: left;
}

nav ul li .lnk {
  float: left;
  padding: 16px 15px;
}

.lnk{
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #4A4A4A;
  opacity: .85;
  transition: all .2s ease;
}

.lnk:hover, .lnk:focus, .lnk:active{
  opacity: 1;
  color: #4A4A4A;
  text-decoration: none;
  border: none;
  outline: none;
}

.brand-nav{
  background-color: #fff;
  border-bottom: 1px solid #E8E8E8;
  height: 56px;
}

.btn-navcta{
  right: 15px;
  float: right;
  margin: 10px 0;
  background-color: #FF7F28;
  color: #fff;
  padding: 8px 17px;
  letter-spacing: 0.5px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px 0 rgba(255,127,40,.2);
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 1px;
}

.btn-navcta:hover, .btn-navcta:active, .btn-navcta:focus {
  background-color: #FF7F28;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 4px 10px 0 rgba(255,127,40,.3);
  transform: translateY(-2px);
}



/*
 * Footer Post
 */
.footer {
  position: fixed;
  left: 0;
  bottom: 26px;
  width: 100%;
  text-align: center;
}

.overlay{
  position: absolute;
  height: 80px;
  width: 100vw;
  z-index: -1;
  margin-top: -30px;
  background: -webkit-linear-gradient(top,rgba(245,245,245,0),rgba(245,245,245,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(245,245,245,0),rgba(245,245,245,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(245,245,245,0),rgba(245,245,245,1)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(245,245,245,0),rgba(245,245,245,1)); /*Standard*/
}

.btn-opencta, .btn-opencta:hover, .btn-opencta:active, .btn-opencta:focus{
  background-color: #FF7F28;
  color: #fff;
  padding: 10px 24px;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px 0 rgba(255,127,40,0.30);
}

.btn-opencta:hover, .btn-navcta:hover{
  background-color: #FF7F28;
}

.btn-opencta:active, .btn-opencta:focus, .btn-navcta:active, .btn-navcta:focus{
  background-color: #EE6D15;
  text-decoration: none;
}




/*
 * Footer Regular
 */
footer {
  padding: 40px 0;
  background-color: white;
}

footer .footer-section {
  margin-top: 30px;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  list-style: none;
  padding: 7px 0;
  float: left;
  margin-right: 30px;
}

footer ul li .lnk {
  list-style: none;
  padding: 6px 0;
}

footer b {
  font-weight: 700;
  font-size: 17px;
  color: #FF7F28;
}




/*
 * Component Buttons
 */
 .btn{
   color: #fff;
   text-decoration: none;
   font-weight: 700;
   font-size: 18px;
   padding: 14px 32px;
   border-radius: 100px;
   -webkit-transition: all .16s ease;
   transition: all .16s ease;
 }

.masthead .btn,
.download .btn{
  margin: 0 8px;
}

.btn-primary{
  background-color: #FF7F28;
  color: #fff;
  border: none;
  box-shadow: 0 2px 6px 0 rgba(255,127,40,.3);
}

.btn-primary:hover{
  background-color: #FF7F28;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px 0 rgba(255,127,40,.4);
}

.btn-primary:active, .btn-primary:focus, .btn-primary:active:focus{
  background-color: #EE6D15;
  color: #fff;
  box-shadow: 0 4px 10px 0 rgba(255,127,40,.4);
}

.btn-secundary{
  background-color: #E2E2E2;
  color: #5E5E5E;
  border: none;
}

.btn-secundary:hover{
  background-color: #E3E3E3;
  opacity: .8;
  -webkit-transition: all .16s ease;
  transition: all .16s ease;
}

.btn-secundary:active, .btn-secundary:focus, .btn-secundary:active:focus{
  background-color: #D0D0D0;
  color: #5E5E5E;
  box-shadow: none;
}



/*
 * Masthead
 */
 .masthead {
   background-color: #FFF8F4;
   border-bottom: 1px solid #e2e2e2;
 }


/*
 * step
 */
 .step {
   padding: 40px 0;
   background-color: white;
 }

 .step h5 {
   margin-top: 30px;
 }

 .step-first {
   padding-top: 80px;
 }

 .step-last {
   padding-bottom: 80px;
 }

.step-illustration {
  width: 100%;
  max-width: 360px;
}


/*
 * Features
 */
.component-features {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.features h2 {
  margin-bottom: 50px;
}

.features ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features ul li {
  font-size: 18px;
  line-height: 1.8;
  color: #5E5E5E;
  font-weight: 400;
  margin-bottom: 8px;
}

.features ul li p {
  margin-left: 34px;
  margin-bottom: 20px;
}

.features .features-checkmark {
  float: left;
  margin-top: 7px;
}



/*
 * Download
 */
.component-download {
  border-bottom: 1px solid #e2e2e2;
}



/*
 * Banner
 */
.banner {
  background-color: #FFF8F4;
}
.banner .btn {
  margin: 0 0 60px;
}

.banner h2 {
  margin-top: 48px;
}



/*
 * Modal
 */
.modal {
  background-color: rgba(0,0,0,.15);
}

.modal-license {
  background-color: white;
  border-radius: 4px;
  padding: 50px 0;
  height: 80vh;
  margin: 10vh 0;
  overflow-y: hidden;
  border: 1px solid #CDCDCD;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.1), 0 2px 4px 0 rgba(0,0,0,.1);
}

#close-modal-license {
  float: right;
  transform: translate(24px,-34px);
  padding: 10px;
  cursor: pointer;
}

.modal-license-header {
  padding: 0 50px;
}

.modal-license-content {
  overflow-y: auto;
  height: calc(80vh - 178px);
  padding: 0 50px 37px;
}

.modal-license-content form input[type="text"] {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 11px 15px;
  font-size: 18px;
  margin-bottom: 13px;
  outline: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  transition: .2s ease;
}

.modal-license-content form input[type="text"]:focus {
  border: 1px solid #666;
}

label {
  color: #666;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 26px;
  width: 100%;
}

.modal .btn {
  margin-top: 64px;
  display: table;
}

.modal-checkbox {
  width: auto;
}

.modal-checkbox input {
  display: none;
  position: relative;
  z-index: -9999;
}

.modal-checkbox .icon-checkbox,
.modal-checkbox .icon-checkedbox {
  display: block;
}

.modal-checkbox .icon-checkedbox {
  opacity: 0;
  transform: translateY(17px);
  -webkit-transition: .1s ease;
  -moz-transition: .1s ease;
  -ms-transition: .1s ease;
  transition: .1s ease;
  cursor: pointer;
}

.modal-checkbox input:checked + .icon-checkedbox {
  opacity: 1;
}

p.voorwaarden-text {
  display: inline-block;
  transform: translateY(-7px);
  margin: 0 9px;
  font-weight: 600;
  font-size: 16px;
  color: #999;
}

p.voorwaarden-text a {
  text-decoration: none;
  color: #ff7f28;
  -webkit-transition: .1s ease;
  -moz-transition: .1s ease;
  -ms-transition: .1s ease;
  transition: .1s ease;
}

p.voorwaarden-text a:hover {
  opacity: .8;
}





/* Form Styles */
.modal-radiobox {
	display: inline-block;
	width: 32%;
	font-size: 18px;
}

.modal-radiobox-center {
  margin: 0 2%;
}

.modal-radiobox label {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
	border: 1px solid #ccc;
	width: 100%;
	padding: 10px 0;
  margin: 0;
  border-radius: 4px;
  letter-spacing: 0;
  -webkit-transition: .1s ease;
  -moz-transition: .1s ease;
  -ms-transition: .1s ease;
  transition: .1s ease;
  cursor: pointer;
}

.modal-radiobox label:hover {
  border: 1px solid #666;
}

input[type="radio"] {
	opacity: 0;
	width: 0;
  height: 0;
}

input[type="radio"]:checked ~ label {
  opacity: 1;
	border: 1px solid #ff7f28;
  background-color: #ff7f28;
  color: white;
}

.modal-radiobox label .icon-checkbox,
.modal-radiobox label .icon-checkedbox {
  display: inline-block;
}

.modal-radiobox label .icon-checkbox{
  transform: translate(10px, -2px);
}

.modal-radiobox label .icon-checkedbox{
  transform: translate(-7px, -2px);
}

.modal-radiobox label .icon-checkedbox {
  opacity: 0;
  -webkit-transition: .1s ease;
  -moz-transition: .1s ease;
  -ms-transition: .1s ease;
  transition: .1s ease;
  cursor: pointer;
}

.modal-radiobox input:checked + label .icon-checkedbox {
  opacity: 1;
}




/* Activate the modal */
body { overflow-y: hidden; }
#modal-license { display: block; }









/*
 * Tablet 480px
 */
@media screen and (min-width: 480px) {
  nav{
    float: right;
    right: 0;
    position: initial;
  }

  .brand-nav{
    background-color: #fff;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 15px;
    height: 70px;
  }

  .brand-nav.masthead-nav {
    height: 86px;
    padding: 8px 0;
    border-bottom: none;
    background-color: #FFF8F4;
    margin: 0;

  }

  .logo-image{
    margin-top: 17px;
    height: 36px;
    width: 36px;
  }

  h4.logo-text{
    padding-top: 22px;
    font-size: 22px;
  }

  .brand-nav .lnk{
    padding: 23px 15px;
  }

  .btn-navcta{
    font-size: 14px;
    padding: 12px 26px;
    margin: 13px 0 0 15px;
    border-radius: 100px;
  }

  .section-padding {
    padding: 60px 0;
  }

  h1{
    font-size: 40px;
    line-height: 1.1;
  }

  h3{
    font-size: 22px;
  }

  h4{
    font-size: 16px;
  }


  /*
   * Small Computer 768px
   */
  @media screen and (min-width: 768px) {
    /* Footer */
    footer {
      padding: 60px 0;
    }

    footer ul {
      margin: 10px 0;
    }

    footer ul li {
      margin-right: 0;
      float: none;
    }

    .component-steps .step h5 {
      margin-top: 10px;
    }

    .component-download {
      border-bottom: none;
    }

    /*
     * Computer 992px
     */
    @media screen and (min-width: 992px) {
      .section-padding {
        padding: 80px 0;
      }

      .component-steps .step h5 {
        margin-top: 30px;
      }

      .banner .btn {
        margin: 80px 0;
      }
    }
  }
}
