/*
 * globals
 */


/* title */
h1{
  font-size: 40px;
  line-height: 1.1;
  font-weight: 700;
  color: #4A4A4A;
}

/* name */
h2{
  font-size: 32px;
  line-height: 1.1;
  font-weight: 700;
  color: #4A4A4A;
  margin-top: 0;
  margin-bottom: 20px;
}

/* date */
h3{
  font-size: 22px;
  line-height: 1.6;
  font-weight: 400;
  color: #5E5E5E;
  margin-top: 12px;
  margin-bottom: 46px;
}

h4{
  font-size: 16px;
  color: #A4A4A4;
  font-weight: 400;
}

h5{
  font-size: 14px;
  color: #FF7F28;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p{
  font-size: 18px;
  line-height: 1.8;
  color: #5E5E5E;
  font-weight: 400;
  margin-bottom: 38px;
}

.logo-image{
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.logo:hover .logo-text, .logo:hover .logo-image{
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}



/* Post fontface */
.post h1{
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #414141;
  margin-top: 26px;
  margin-bottom: 15px;
}

.post h2{
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #3D3D3D;
  margin-top: 2px;
  margin-bottom: 2px;
}

.post h3{
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  color: #A4A4A4;
  margin-top: 2px;
  margin-bottom: 2px;
}




/*
 * basic layout
 */
html {
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: rgb(245, 245, 245);
  font-family: "Lato", sans-serif;
}

.post{
  background-color: #fff;
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 74px;
}

.profile{
  height: 48px;
  width: 48px;
  border-radius: 16px;
  position: relative;
  margin-right: 14px;
  float: left;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.faceholder{
  height: 48px;
  width: 48px;
  border-radius: 16px;
  position: absolute;
}

.logo-image{
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  height: 34px;
  width: 34px;
}

h4.logo-text{
  float: left;
  margin: 0px;
  padding-top: 17px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 600;
  color: #4A4A4A;
  font-size: 18px;
}



/*
 * Nav
 */
nav{
  float: right;
}

nav ul{
  margin-bottom: 0px;
  text-align: left;
}

nav ul li{
  list-style: none;
  float: left;
}

nav ul li .lnk {
  float: left;
  padding: 16px 15px;
}

.lnk{
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #4A4A4A;
  opacity: .85;
  transition: all .2s ease;
}

.lnk:hover, .lnk:focus, .lnk:active{
  opacity: 1;
  color: #4A4A4A;
  text-decoration: none;
  border: none;
  outline: none;
}

.brand-nav{
  background-color: #fff;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 15px;
  height: 56px;
}

.btn-navcta{
  right: 15px;
  float: right;
  margin: 10px 0px 0px 15px;
  background-color: #FF7F28;
  color: #fff;
  padding: 8px 17px;
  letter-spacing: 0.5px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px 0 rgba(255,127,40,.2);
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 1px;
}

.btn-navcta:hover, .btn-navcta:active, .btn-navcta:focus {
  background-color: #FF7F28;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 4px 10px 0 rgba(255,127,40,.3);
  transform: translateY(-2px);
}



/*
 * Footer Post
 */
.footer {
  position: fixed;
  left: 0;
  bottom: 26px;
  width: 100%;
  text-align: center;
}

.overlay{
  position: absolute;
  height: 80px;
  width: 100vw;
  z-index: -1;
  margin-top: -30px;
  background: -webkit-linear-gradient(top,rgba(245,245,245,0),rgba(245,245,245,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(245,245,245,0),rgba(245,245,245,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(245,245,245,0),rgba(245,245,245,1)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(245,245,245,0),rgba(245,245,245,1)); /*Standard*/
}

.btn-opencta, .btn-opencta:hover, .btn-opencta:active, .btn-opencta:focus{
  background-color: #FF7F28;
  color: #fff;
  padding: 10px 24px;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px 0 rgba(255,127,40,0.30);
}

.btn-opencta:hover, .btn-navcta:hover{
  background-color: #FF7F28;
}

.btn-opencta:active, .btn-opencta:focus, .btn-navcta:active, .btn-navcta:focus{
  background-color: #EE6D15;
  text-decoration: none;
}




/*
 * Footer Regular
 */
footer {
  padding: 60px 0;
  background-color: white;
}

footer ul {
  margin: 10px 0;
  padding: 0;
}

footer ul li {
  list-style: none;
  padding: 7px 0;
}

footer ul li .lnk {
  list-style: none;
  padding: 6px 0;
}

footer b {
  font-weight: 700;
  font-size: 17px;
  color: #FF7F28;
}




/*
 * Component Buttons
 */
 .btn{
   color: #fff;
   text-decoration: none;
   font-weight: 700;
   font-size: 18px;
   padding: 14px 32px;
   border-radius: 100px;
   -webkit-transition: all .16s ease;
   transition: all .16s ease;
 }

.masthead .btn{
  margin: 0 8px;
}

.btn-primary{
  background-color: #FF7F28;
  color: #fff;
  border: none;
  box-shadow: 0 2px 6px 0 rgba(255,127,40,.3);
}

.btn-primary:hover{
  background-color: #FF7F28;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px 0 rgba(255,127,40,.4);
}

.btn-primary:active, .btn-primary:focus, .btn-primary:active:focus{
  background-color: #EE6D15;
  color: #fff;
  box-shadow: 0 4px 10px 0 rgba(255,127,40,.4);
}

.btn-secundary{
  background-color: #E2E2E2;
  color: #5E5E5E;
  border: none;
}

.btn-secundary:hover{
  background-color: #E3E3E3;
  opacity: .8;
  -webkit-transition: all .16s ease;
  transition: all .16s ease;
}

.btn-secundary:active, .btn-secundary:focus, .btn-secundary:active:focus{
  background-color: #D0D0D0;
  color: #5E5E5E;
  box-shadow: none;
}





/*
 * Tablet 480px
 */
@media screen and (min-width: 480px) {
  .brand-nav{
    background-color: #fff;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 15px;
    height: 70px;
  }

  .brand-nav.masthead-nav {
    background-color: transparent;
    height: 86px;
    padding: 8px 0;
    border-bottom: none;
    background-color: white;
    margin: 0;

  }

  .logo-image{
    margin-top: 17px;
    height: 36px;
    width: 36px;
  }

  h4.logo-text{
    padding-top: 22px;
    font-size: 22px;
  }

  .brand-nav .lnk{
    padding: 23px 15px;
  }

  .btn-navcta{
    font-size: 14px;
    padding: 12px 26px;
    margin: 13px 0 0 15px;
    border-radius: 100px;
  }
}




/*
 * Masthead
 */
 .masthead {
   padding: 80px 0;
   background-color: white;
   border-bottom: 1px solid #e2e2e2;
 }



/*
 * Steps
 */
 .steps {
   padding: 50px;
   background-color: white;
 }

 .step-1 {
   padding-top: 80px;
 }

 .step-2 {
   padding-bottom: 80px;
 }
